target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/



.gradle/
bin/
gradle/
gradlew
gradlew.bat
settings.gradle
test.jar
test.txt
*.csv
*.class
*.jar
./test
./test$'\n'test$'\n'test$'\n'test$'\n'test$'\n'test$'\n'test$'\n'test$'\n'test$'\n'test$'\n'test

.DS_Store
src/main/resources/.DS_Store
src/main/resources/templates/store.legacy.min.js
test
out
