<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript">
        function load()
        {
            document.getElementById('uploadFile').textContent = localStorage.getItem('uploadFile');
            document.getElementById('searchResult').textContent = localStorage.getItem('searchResult');
            document.getElementById('note').textContent = localStorage.getItem('note');
            <!-- document.getElementById('compareResult').textContent = localStorage.getItem('compareResult'); -->

            document.getElementById('uploadFile').value = localStorage.getItem('uploadFile');
            document.getElementById('searchResult').value = localStorage.getItem('searchResult');
            document.getElementById('note').value = localStorage.getItem('note');
            <!-- document.getElementById('compareResult').value = localStorage.getItem('compareResult'); -->
        }
    </script>
    <script th:inline="javascript">
        var flag = false;
        function insert(){
            var uploadFile = localStorage.getItem('uploadFile');
            var searchResult = localStorage.getItem('searchResult');
            var note = localStorage.getItem('note');
            var compareResult = localStorage.getItem('compareResult');
            <!-- var searchResultList_js = localStorage.getItem('tmp'); -->
            var tmp = "he"
            tmp = /*[[${searchResult_js}]]*/ "he";
            if(!tmp){
                load();
                return;
            }
            /*<![CDATA[*/
            if(searchResult.lastIndexOf(",") != tmp.lastIndexOf(",")){
                localStorage.setItem('uploadFile', /*[[${uploadFile_js}]]*/ uploadFile);
                localStorage.setItem('searchResult', /*[[${searchResult_js}]]*/ searchResult);
                localStorage.setItem('note', /*[[${note_js}]]*/ note);
                localStorage.setItem('compareResult', /*[[${compareResult_js}]]*/ compareResult);
                <!-- localStorage.setItem('tmp', /*[[${searchResultList}]]*/ searchResultList_js); -->
            }
            /*]]>*/
            load();
        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MITUBA</title>
    <link href="css/style.css" th:href="@{css/style.css}" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script src="js/script.js" th:src="@{js/script.js}"></script>
    <script>
        jQuery(function($){
            $("#searchResultTable").DataTable({
                order: [ [ 3, "desc" ] ],
                bStateSave:true,
                searching: false
            });
        });
        jQuery(function($){
            $("#compareResultTable").DataTable({
                order: [ [ 2, "desc" ] ],
                bStateSave:true,
                searching: false
            });
        });
    </script>
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"></link>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js" th:href="@{js/bootstrap.min.js}"></script>

</head>
<body onload="insert()">
<!-- <body> -->

<header>
    <center>
        <h1>MITUBA</h1>
    </center>
</header>


<h2>ファイルを投げて検索をする</h2>
<p>classファイルかjarファイルを送信してください</p>
<h4><span style="color:red" th:text="*{errorMessageOfSearch}"></span></h4>
<form method="post" action="/" enctype="multipart/form-data">


<center>
<input type="file" id="upload" name="upload" />
    <select name="birthmark" id="birthmark">
        <option value="2-gram">2-gram</option>
        <option value="3-gram">3-gram</option>
        <option value="4-gram">4-gram</option>
        <option value="5-gram">5-gram</option>
        <option value="6-gram">6-gram</option>
        <option value="uc">uc</option>
    </select>
<input type="hidden" id="searchResult" name="searchResult" th:value="${searchResult}"/>
<input type="hidden" id="uploadFile" name="uploadFile" th:value="${uploadFile}"/>
</center>
<center>
<button type="submit" class="btn btn-default">検索</button>
</center>
</form>



<textarea id="note" name="note" cols="40" rows="40" readonly="readonly" style="display:none;"><span th:text="*{note}" th:remove="tag"></span></textarea>
<textarea id="searchResult" name="searchResult" cols="40" rows="40" readonly="readonly" style="display:none;"><span th:text="*{searchResult}" th:remove="tag"></span></textarea>


<textarea id="compareResult" name="compareResult" cols="40" rows="40" readonly="readonly" style="display:none;"><span th:text="*{compareResult}" th:remove="tag"></span></textarea>

</body>
</html>
